<% if @opinion.errors.any? %>
	<div id='error_explanation'>
		<h3><%= pluralize(@opinion.errors.count, 'error') %> prohibited the post</h3>

		<ul>
			<% @opinion.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>


<a href="<%= opinions_path %>"><span class='
glyphicon glyphicon-chevron-left'></span></a>

<div class='new-opinion-container'>
<%= form_for @opinion, {:class => 'new-opinion-form'} do |f| %>
	
	<%= f.text_field :title, placeholder: "Title here", class: 'new-opinion-text text-field' %>

	<%= f.text_area :body, placeholder: "What is your sports opinion?", class: 'new-opinion-text text-area' %>

	<%= f.hidden_field :user_id, :value => current_user.id %>

	<%= f.submit 'Post', class: 'btn new-opinion-button btn-lg' %>

<% end %>
</div>