<a href="<%= opinions_path %>"><span class='
glyphicon glyphicon-chevron-left'></span></a>

<div class='container'>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @vote_average %>%;"> 
  	<%= @vote_average %>%
  </div>
</div>

<p>What do you think?</p>
	<form action="<%= vote_opinion_path %>" method='post'>
		<input type="range" name="quality" min="0" max="100">
		<% if @opinion.votes.exists?(user_id: current_user.id) %>
			<input type="submit" class='btn btn-primary'disabled>
		<% else %>
			<input type="submit" class='btn btn-primary'disabled>
		<% end %>
	</form>
		
<div class='opinion-container center'>
<h1 class='opinion-title'><%= @opinion.title %></h1>
<p class='opinion-body'><%= @opinion.body %></p>
</div>

<% if user_signed_in? %>
	<%= form_for @comment do |f| %>

		<%= f.text_field :body, class: 'form-control submit-comment'%>

		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :opinion_id, :value => @opinion.id %>

		<%= f.submit 'Post', class: 'btn btn-primary opinion-btn post' %>

	<% end %>
	<% else %>
	<p class='center'>You must <%= link_to 'sign in', new_user_session_path %> to comment </p>
<% end %>

<% unless @comments.empty? %>
	<% @comments.each do |comment| %>
		<p class='well'>
			<%= comment.user.user_name %>: 
			<%= comment.body %></p>
		<% end %>
<% end %>
</div>
