<%= link_to "Back", opinion_path %>
<%= @opinion.title %>
<%= @opinion.body %>

<% if user_signed_in? %>
	<%= form_for @comment do |f| %>

		<%= f.label :body %>
		<%= f.text_field :body %>

		<%= f.submit 'Post' %>

		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :opinion_id, :value => @opinion.id %>

	<% end %>
	<% else %>
	<p>You must <%= link_to 'sign in', new_user_registration_path %> to comment </p>
<% end %>

<% unless @comments.empty? %>
<% @comments.each do |comment| %>
	<%= comment.user.user_name %>
	<%= comment.body  %>
	<% end %>
<% else %>
<p>no comment</p>
<% end %>
