<h2 class="reg_header">Edit <%= resource_name.to_s.humanize %></h2>
<p class="pull-left"><%= link_to "Back", :back %></p>
<div class="center_div">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="reg_label"><%= f.label :user_name %></div>
  <div class="reg_input"><%= f.text_field :user_name, autofocus: true %></div>

  <div class="reg_label"><%= f.label :email %></div>
  <div class="reg_input"><%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="reg_label"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><</div>
   <div class="reg_input"> <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="reg_label"><%= f.label :password_confirmation %></div>
    <div class="reg_input"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="reg_label"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></div>
   <div class="reg_input"> <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div class="text-center"><%= f.submit "Update", class: "submit_btn" %></div>
<% end %>


</div>