<h1 class="reg_header">Welcome Back</h1>
<p class="pull-left"><%= link_to "Back", :back %></p>
<div class="center_div">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="reg_label"><%= f.label :email %></div>
	  <div class="reg_input"><%= f.email_field :email, autofocus: true %></div>

	  <div class="reg_label"><%= f.label :password %></div>
	   <div class="reg_input"><%= f.password_field :password, autocomplete: "off" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div class="text-center"><%= f.submit "Sign in", class: "submit_btn" %></div>
	<% end %>
</div>

<%= render "devise/shared/links" %>
